///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-dummy-class-prefix: 'dummy-' !default;

// Dummies
$rr-dummies: () !default;

// Defaults
$rr-dummy-map-defaults: (
	'xyz': null,
	'breakpoints': ()
) !default;

$rr-dummies-default: map-default($rr-dummies) !default;

// Print output for this module
$rr-generate-dummies: $rr-generate-classes !default;

// @todo

/////////////////////
// INTERNAL VARIABLES
/////////////////////

// @todo

////////////
// FUNCTIONS
////////////

// Check if an entry exists
@function dummy-exists($name) {
	@return entry-exists($rr-dummies, $name);
}

// Gets an entry by name
@function dummy-entry($name: null) {
	@return get-entry-by-name($rr-dummies, $name, $rr-dummies-default);
}

// Get an entry property value by name
@function dummy-property($name, $property) {
	@return get-entry-property(
		$rr-dummies,
		$name,
		$property,
		$rr-dummy-map-defaults,
		$rr-dummies-default
	);
}

// Get an entry value by name
@function dummy-value($name: null) {
	@return get-entry-value($rr-dummies, $name, 'dummy', $rr-dummies-default);
}

// @todo

/////////
// MIXINS
/////////

// Output dummy by name
@mixin dummy($name: null) {

}

// @todo

/*******************/
/* OUTPUT: DUMMIES */
/*******************/

@if $rr-generate-dummies and map-not-empty($rr-dummies) {
	// @todo
}

/////////////////////////
// APPEND GLOBAL SETTINGS
/////////////////////////

// @todo

///////
// TODO
///////

// @todo
