///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-dummy-class-prefix: 'dummy-' !default;

// Default dummy entries
$rr-dummies: () !default;

// Default entry
$rr-dummies-default: map-default($rr-dummies) !default;

// Output handling
$rr-generate-dummies: $rr-generate-classes !default;

/////////////////////
// INTERNAL VARIABLES
/////////////////////

////////////
// FUNCTIONS
////////////

// Check if an entry exists
@function dummy-exists($name) {
	@return entry-exists($rr-dummies, $name);
}

// Gets an entry by name
@function dummy-entry($name: null) {
	@return get-entry-by-name($rr-dummies, $name, $rr-dummies-default);
}

/////////
// MIXINS
/////////

// Output dummy by name
@mixin dummy($name: null) {

}

/////////
// OUTPUT
/////////

@mixin generate-dummy-module-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $rr-generate-dummies {

	}
}
