// Load core
@import 'core/core';
@import 'core/normalize';
@import 'core/grid';

// Load helpers
@import 'helpers/alignment';
@import 'helpers/background';
@import 'helpers/display';
@import 'helpers/flex';
@import 'helpers/misc';
@import 'helpers/overflow';
@import 'helpers/position';
@import 'helpers/visibility';
@import 'helpers/typo';

// Load modules
@import 'modules/aspect-ratio';
@import 'modules/color';
@import 'modules/custom';
@import 'modules/spacing';
@import 'modules/typo-family';
@import 'modules/typo-size';
@import 'modules/transition';

// Load components
@import 'components/list';
@import 'components/table';

/******************************/
/* OUTPUT: SETTINGS VARIABLES */
/******************************/

$rr-global-settings: map-merge(
	$rr-global-settings,
	(
		'core': (
			'canHoverClass': $rr-global-can-hover-class,
			'canTouchClass': $rr-global-can-touch-class
		)
	)
);

// Mains ettings
:root {
	--rr-can-hover: false;
	--rr-can-touch: false;

	@if $rr-generate-settings and is-not-empty($rr-generate-settings) {
		--rr-settings: #{"'" + inspect(json-encode($rr-global-settings)) + "'"};
	}
}

// Breakpoint settings
@each $breakpoint-key, $breakpoint-list in $rr-grid-breakpoints {
	@include mq($breakpoint-key) {
		:root {
			--rr-current-breakpoint: '#{inspect($breakpoint-key)}';
		}
	}
}

// Device features
@include mq-hover() {
	:root {
		--rr-can-hover: true;
	}
}

@include mq-touch() {
	:root {
		--rr-can-touch: true;
	}
}

