// Load core
@import 'core/core';
@import 'core/normalize';
@import 'core/grid';

// Load helpers
@import 'helpers/alignment';
@import 'helpers/background';
@import 'helpers/display';
@import 'helpers/flex';
@import 'helpers/misc';
@import 'helpers/overflow';
@import 'helpers/position';
@import 'helpers/visibility';
@import 'helpers/typo';

// Load modules
@import 'modules/aspect-ratio';
@import 'modules/color';
@import 'modules/custom';
@import 'modules/spacing';
@import 'modules/typo-family';
@import 'modules/typo-size';
@import 'modules/transition';

// Load components
@import 'components/list';
@import 'components/table';

/*************************/
/* OUTPUT: JSON SETTINGS */
/*************************/

@if $rr-generate-settings != false and $rr-global-settings != () {
	html::before {
		content: json-encode($rr-global-settings);
		visibility: hidden;
		position: absolute;
		font-size: 0;
		line-height: 0;
		height: 0;
	}
}

// Hover
:root {
	--rr-has-hover: 0;
	--rr-settings: json-encode($rr-global-settings);
}

@include mq-hover() {
	:root {
		--rr-has-hover: 1;
	}
}

///////
// TODO
///////

// PRIO 1: Save settings in css variables, not content before
// PRIO 1: Set css variable for has-touch via new media query for js
