///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
@use 'sass:meta';
@use 'sass:math';
@use 'sass:list';
@use 'sass:map';
@use 'sass:string';

@use '../utils';
@use 'core';

$breakpoint-only-class-suffix: '-only' !default;
$row-class: 'row' !default;
$row-gutter-class: 'row--gutter' !default;
$row-nogutter-class: 'row--nogutter' !default;
$column-class: 'column' !default;
$column-auto-class: core.$auto-class !default;
$column-shrink-class: 'shrink' !default;
$line-break-class: 'column-break' !default;
$container-class: 'container' !default;

$offset-class-prefix: 'offset-' !default;
$grid-reset-class: core.$reset-class !default;

$column-prefix-delimiter: '\\:' !default;

// Breakpoints
$breakpoints: (
	's': (
		'columns': 6,
		'gutter': 32px
	),
	'm': (
		'min-width': 641px,
		'columns': 12,
		'gutter': 32px
	),
	'l': (
		'min-width': 961px,
		'columns': 12,
		'gutter': 24px
	),
	'xl': (
		'min-width': 1440px,
		'columns': 12,
		'gutter': 24px
	)
) !default;

// Defaults
$breakpoint-defaults: (
	'columns': null,
	'min-width': null,
	'max-width': null,
	'gutter': 0,
	'base-size': null,
	'container-width': null,
	'container-alignment': 'center',
	'container-spacing': 0
);

// Percentage columns steps
$breakpoint-fraction-steps: 6 !default;
$breakpoint-fraction-prefix-delimiter: '\\/' !default;

// Grid helper
$helper-z-index: 1000000 !default;
$helper-column-background-color: rgba(36,156,213,.5) !default;
$helper-column-border-color: rgba(36,156,213,.8) !default;
$helper-gutter-background-color: rgba(39,174,96,.25) !default;

$helper-info-z-index: 1000001 !default;
$helper-info-position-top: auto !default;
$helper-info-position-right: auto !default;
$helper-info-position-bottom: 5px !default;
$helper-info-position-left: 5px !default;
$helper-info-primary-color: core.$primary-color !default;
$helper-info-secondary-color: white !default;

$helper-enabled: true !default;

$helper-info-class: 'responslr-grid-helper-info' !default;
$helper-class: 'responslr-grid-helper' !default;
$helper-shower-class: 'responslr-grid-helper__show' !default;

// Output handling
$generate-breakpoints: core.$generate-classes !default;
$generate-breakpoints-fraction: $generate-breakpoints !default;
$generate-breakpoints-normal: $generate-breakpoints !default;
$generate-helper: $generate-breakpoints !default;
$generate-settings: true !default;

/////////////////////
// INTERNAL VARIABLES
/////////////////////
$settings: ();

// Default breakpoint
$breakpoints-default: utils.map-default($breakpoints);

// Set current breakpoint to default
$current-breakpoint: utils.unquote($breakpoints-default);

// Breakpoint names
$breakpoints-names: map.keys($breakpoints);

////////////
// FUNCTIONS
////////////

// Get the main value from an entry
@function get-value-by-entry($entry, $property, $breakpoint-name: '', $apply-overwrites: true) {
	$value: null;

	// Set default
	@if utils.is-map($entry) and map.has-key($entry, $property) {
		$value: map.get($entry, $property);
	} @else {
		$value: $entry;
	}

	// Get breakpoint overwrite
	@if $breakpoint-name != '' and not is-default($breakpoint-name) {
		@if $apply-overwrites {
			$breakpoint-reached: false;

			@each $breakpoint-name-loop, $breakpoint-entry in $breakpoints {
				@if not $breakpoint-reached {
					$breakpoint-overwrites: core.get-breakpoint-overwrite-by-entry($entry, $breakpoint-name-loop);

					@if utils.is-map($breakpoint-overwrites) and map.has-key($breakpoint-overwrites, $property) {
						$value: map.get($breakpoint-overwrites, $property);
					} @else if utils.is-not-null($breakpoint-overwrites) {
						$value: $breakpoint-overwrites;
					}

					@if $breakpoint-name-loop == $breakpoint-name {
						$breakpoint-reached: true;
					}
				}
			}
		} @else {
			$breakpoint-overwrites: core.get-breakpoint-overwrite-by-entry($entry, $breakpoint-name);

			@if utils.is-map($breakpoint-overwrites) and map.has-key($breakpoint-overwrites, $property) {
				$value: map.get($breakpoint-overwrites, $property);
			} @else if utils.is-not-null($breakpoint-overwrites) {
				$value: $breakpoint-overwrites;
			} @else {
				$value: null;
			}
		}
	}

	@return $value;
}

// Get a property from an entry
@function get-property-by-entry($entry, $property, $default: null, $breakpoint-name: '', $apply-overwrites: true) {
	$value: null;

	// Set default
	@if utils.is-map($entry) and map.has-key($entry, $property) {
		$value: map.get($entry, $property);
	} @else {
		$value: $default;
	}

	// Get breakpoint overwrite
	@if $breakpoint-name != '' and not is-default($breakpoint-name) {
		@if $apply-overwrites {
			$breakpoint-reached: false;

			@each $breakpoint-name-loop, $breakpoint-entry in $breakpoints {
				@if not $breakpoint-reached {
					$breakpoint-overwrites: core.get-breakpoint-overwrite-by-entry($entry, $breakpoint-name-loop);

					@if utils.is-map($breakpoint-overwrites) and map.has-key($breakpoint-overwrites, $property) {
						$value: map.get($breakpoint-overwrites, $property);
					}

					@if $breakpoint-name-loop == $breakpoint-name {
						$breakpoint-reached: true;
					}
				}
			}
		} @else {
			$breakpoint-overwrites: core.get-breakpoint-overwrite-by-entry($entry, $breakpoint-name);

			@if utils.is-map($breakpoint-overwrites) and map.has-key($breakpoint-overwrites, $property) {
				$value: map.get($breakpoint-overwrites, $property);
			} @else {
				$value: null;
			}
		}
	}

	@return $value;
}

// Check if an entry exists
@function breakpoint-exists($name) {
	@return core.entry-exists($breakpoints, $name);
}

// Gets an entry by name
@function breakpoint-entry($name: null) {
	@return core.get-entry-by-name($breakpoints, $name, $breakpoints-default);
}

// Get an entry property value by name
@function breakpoint-property($name, $property) {
	@return core.get-entry-property(
		$breakpoints,
		$name,
		$property,
		$breakpoint-defaults,
		$breakpoints-default
	);
}

// Check if breakpoint is default breakpoint
@function is-default($name) {
	@return $name == $breakpoints-default or $name == '';
}

// Get a breakpoint gutter with optional multiplier by name
@function gutter($name: null, $multiplier: 1) {
	$gutter: breakpoint-property($name, 'gutter');

	@if utils.is-number($gutter) and utils.is-number($multiplier) {
		$gutter: $gutter * $multiplier;
	}

	@return $gutter;
}

// Get a breakpoint gutter with 0.5x multiplier by name
@function gutter-half($name) {
	@return gutter($name, 0.5);
}

// Get a breakpoint gutter with 2x multiplier by name
@function gutter-double($name) {
	@return gutter($name, 2);
}

// Get breakpoint map index by name
@function breakpoint-index($name) {
	@return index($breakpoints-names, $name);
}

// Get calculated breakpoint max-width by name
// @todo: smarter and shorter
@function calculate-max-width($name) {
	$max-width: null;

	@if breakpoint-exists($name) {
		$return-max-width: 0;
		$breakpoint-index: breakpoint-index($name) + 1;

		@if $breakpoint-index > 0 and $breakpoint-index <= list.length($breakpoints) {
			$max-width-name: list.nth($breakpoints-names, $breakpoint-index);
			$min-width-value: breakpoint-property($max-width-name, 'min-width');

			@if utils.is-number($min-width-value) {
				$return-max-width: $min-width-value - 1;
			}
		}

		$max-width: $return-max-width;
	}

	@return $max-width;
}

// Get current breakpoint gutter with optional multiplier
@function gutter-current($multiplier: 1) {
	@return gutter($current-breakpoint) * $multiplier;
}

// Get breakpoint prefix
@function breakpoint-prefix($breakpoint-name, $ignore-default: true) {
	$prefix: '';

	@if not is-default($breakpoint-name) or not $ignore-default {
		$prefix: '#{$breakpoint-name}\\:';
	}

	@return $prefix;
}

// Get basic class with exceptions
// @todo: experimental, testing in other modules
@function class-name-with-extend-exceptions($breakpoint-name, $class, $class-exception) {
	$return: $class;
	$breakpoint-index: index($breakpoints-names, $breakpoint-name);

	@if $breakpoint-index >= 3 {
		@for $index from 3 through $breakpoint-index + 1 {
			$breakpoint: list.nth($breakpoints-names, $index - 1);
			$return: $return + ':not(.' + breakpoint-prefix($breakpoint, true) + $class + '-' + $class-exception + ')';
		}
	}

	@return $return;
}

/////////
// MIXINS
/////////

// Media query with all options
@mixin mq($name: null, $min-width: null, $max-width: null, $media-type: 'screen') {
	$media-query: '';

	@if $name == 'print' {
		$media-type: 'print';
	} @else if utils.is-not-null($name) {
		$name: utils.str-to-list($name, '-');

		$min-width: list.nth($name, 1);
		$max-width: null;

		@each $name-part in $name {
			// Get breakpoint data
			@if $name-part == 'only' {
				$max-width: list.nth($name, 1);
			} @else if $name-part == 'down' {
				$min-width: null;
				$max-width: list.nth($name, 1);
			} @else if $name-part == 'portrait' {
				$media-query: '#{$media-query} and (orientation: portrait)';
			} @else if $name-part == 'landscape' {
				$media-query: '#{$media-query} and (orientation: landscape)';
			} @else if $name-part == 'hover' {
				$media-query: '#{$media-query} and (hover: hover)';
			} @else if $name-part == 'touch' {
				$media-query: '#{$media-query} and (hover: none)';
			}
		}
	}

	// Append min width
	// Append max width
	@if not utils.is-number($min-width) and utils.is-not-null($min-width) {
		$min-width: breakpoint-property($min-width, 'min-width');
	}

	@if utils.is-number($min-width) and $min-width != 0 {
		$media-query: '#{$media-query} and (min-width: #{$min-width})';
	}

	@if not utils.is-number($max-width) and utils.is-not-null($max-width) {
		$max-width: calculate-max-width($max-width);
	}

	@if utils.is-number($max-width) and $max-width != 0 {
		$media-query: '#{$media-query} and (max-width: #{$max-width})';
	}

	// Prepend media type
	@if $media-type == 'screen' {
		@if string.length($media-query) > 0 {
			$media-query: '#{$media-type}#{$media-query}';
		}
	} @else {
		$media-query: '#{$media-type}#{$media-query}';
	}

	// Output media query
	@if string.length($media-query) == 0 {
		@content;
	} @else {
		@media #{$media-query} {
			@content;
		}
	}
}

// Media query up
@mixin mq-up($name) {
	@include mq($min-width: $name) {
		@content;
	}
}

// Media query down
@mixin mq-down($name) {
	@include mq($max-width: $name) {
		@content;
	}
}

// Media query only
@mixin mq-only($name) {
	@include mq($min-width: $name, $max-width: $name) {
		@content;
	}
}

// Media query landscape
@mixin mq-landscape() {
	@include mq(landscape) {
		@content;
	}
}

// Media query portrait
@mixin mq-portrait() {
	@include mq(portrait) {
		@content;
	}
}

// Media query print only
@mixin mq-print() {
	@media print {
		@content;
	}
}

// Media query primary input mechanism can hover
@mixin mq-hover($can-hover: true) {
	@media (hover: if($can-hover, hover, none)) {
		@content;
	}
}

// Media query primary input mechanism cant hover
@mixin mq-touch() {
	@media (hover: none) {
		@content;
	}
}

/////////
// OUTPUT
/////////

@mixin grid-generate-output($breakpoint-prefix: '', $breakpoint-prefix-short: '', $breakpoint-name: '') {
	@if $generate-breakpoints {
		// Grid base
		@if is-default($breakpoint-name) {
			// Container
			.#{$container-class} {
				max-width: none;
			}

			// Row
			.#{$row-class} {
				display: flex;
				flex-wrap: wrap;
				//width: 100%;
				flex-grow: 1;
			}

			// Column
			.#{$column-class} {
				flex: 0 0 100%;
			}

			// Column force line break
			.#{$line-break-class} {
				flex: 1 1 100%;
				height: 0;
				width: auto;
				overflow: hidden;
			}
		}

		// Get breakpoint properties
		$breakpoint-columns: breakpoint-property($breakpoint-name, 'columns');
		$breakpoint-base-size: breakpoint-property($breakpoint-name, 'base-size');
		$breakpoint-container-width: breakpoint-property($breakpoint-name, 'container-width');
		$breakpoint-container-spacing: breakpoint-property($breakpoint-name, 'container-spacing');
		$breakpoint-container-alignment: breakpoint-property($breakpoint-name, 'container-alignment');

		// Apply media query
		:root {
			--rr-grid-column-base: #{$breakpoint-columns};
		}

		// Base size
		@if utils.is-number($breakpoint-base-size) {
			body {
				font-size: $breakpoint-base-size;
			}
		}

		// Container
		//.#{class-name-with-extend-exceptions($breakpoint-name, $container-class, core.$unset-class)},
		.#{$container-class},
		.#{$breakpoint-prefix}#{$container-class} {
			margin-right: $breakpoint-container-spacing;
			margin-left: $breakpoint-container-spacing;

			@if utils.is-number($breakpoint-container-width) {
				max-width: $breakpoint-container-width;

				@if $breakpoint-container-alignment == right {
					margin-left: auto;
				} @else if $breakpoint-container-alignment == left {
					margin-right: auto;
				} @else if $breakpoint-container-alignment == center {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		// Container unset
		@if $breakpoint-prefix-short != '' {
			.#{$breakpoint-prefix-short}#{$container-class}-#{core.$unset-class} {
				max-width: unset;
				margin-right: unset;
				margin-left: unset;
			}
		}

		// Row column combination width
		// .#{$container-class}.#{$row-class},
		// .#{$breakpoint-prefix}#{$container-class}.#{$row-class} {
		// 	@if $breakpoint-container-spacing > 0 {
		// 		//width: calc(100% - #{$breakpoint-container-spacing * 2});
		// 	} @else {
		// 		//width: 100%;
		// 	}
		// }

		// Row gutter fix
		.#{$row-class} .#{$row-class},
		.#{$row-class} > .#{$column-class} .#{$breakpoint-prefix-short}#{$row-gutter-class} {
			margin-left: -(gutter-half($breakpoint-name));
			margin-right: -(gutter-half($breakpoint-name));
			//width: calc(100% + #{gutter($breakpoint-name)});
		}

		// Column gutter
		.#{$column-class},
		.#{$breakpoint-prefix-short}#{$row-gutter-class} > .#{$column-class} {
			padding-left: gutter-half($breakpoint-name);
			padding-right: gutter-half($breakpoint-name);
		}

		// Gutter reset
		.#{$breakpoint-prefix-short}#{$row-nogutter-class} {
			> .#{$column-class} {
				padding-left: 0;
				padding-right: 0;

				.#{$row-class} {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}

		// Column (normal)
		@if $generate-breakpoints-normal {
			@if utils.is-not-null($breakpoint-base-size) {
				@for $column-index from 1 through $breakpoint-columns {
					// Breakpoint
					.#{$column-class}.#{$breakpoint-prefix}#{$column-index},
					.#{$row-class}.#{$breakpoint-prefix}#{$column-index} > .#{$column-class} {
						flex: 0 0 calc(#{$column-index} / var(--rr-grid-column-base) * 100%);

						> * {
							--rr-grid-column-base: #{$column-index};
						}

						.#{$row-class}--#{$grid-reset-class} {
							--rr-grid-column-base: #{$breakpoint-columns};
						}
					}

					// Offset
					.#{$breakpoint-prefix}#{$offset-class-prefix}#{$column-index} {
						margin-left: calc(#{$column-index} / var(--rr-grid-column-base) * 100%);
					}
				}
			}
		}

		// Column (fraction)
		$fractions-added: ();

		@if $generate-breakpoints-fraction {
			@for $denominator from 1 through $breakpoint-fraction-steps {
				@for $numerator from 1 through $denominator {
					@if $numerator != $denominator {
						$percent: math.div(100%, $denominator) * $numerator;
						$fraction-class: '#{$numerator}#{$breakpoint-fraction-prefix-delimiter}#{$denominator}';

						@if not utils.in-list($fractions-added, $percent) {
							// Breakpoint
							.#{$column-class}.#{$breakpoint-prefix}#{$fraction-class},
							.#{$row-class}.#{$breakpoint-prefix}#{$fraction-class} > .#{$column-class} {
								flex: 0 0 $percent;
							}

							// Offset
							.#{$breakpoint-prefix}#{$offset-class-prefix}#{$numerator}#{$breakpoint-fraction-prefix-delimiter}#{$denominator} {
								margin-left: $percent;
							}

							$fractions-added: list.append($fractions-added, $percent);
						}
					}
				}
			}
		}

		// Column (all) full width
		.#{$column-class}.#{$breakpoint-prefix}#{core.$full-class},
		.#{$row-class}.#{$breakpoint-prefix}#{core.$full-class} > .#{$column-class} {
			flex: 0 0 100%;

			> * {
				--rr-grid-column-base: #{$breakpoint-columns};
			}
		}

		// Column (all) auto fill width
		.#{$column-class}.#{$breakpoint-prefix}#{$column-auto-class},
		.#{$row-class}.#{$breakpoint-prefix}#{$column-auto-class} > .#{$column-class} {
			flex: 1 1 0px;
		}

		.#{$column-class}.#{$breakpoint-prefix}#{$column-shrink-class},
		.#{$row-class}.#{$breakpoint-prefix}#{$column-shrink-class} > .#{$column-class} {
			flex: 0 0 auto;
		}

		// Column (all) reset
		.#{$breakpoint-prefix}#{$grid-reset-class} {
			margin-left: 0;
		}
	}
}

@mixin grid-generate-helper-output() {
	@if $generate-helper {
		.#{$helper-info-class} {
			display: inline-flex;
			align-items: center;
			position: fixed;
			z-index: $helper-info-z-index;
			top: $helper-info-position-top;
			right: $helper-info-position-right;
			bottom: $helper-info-position-bottom;
			left: $helper-info-position-left;
			padding: 7px;
			background-color: rgba($helper-info-primary-color, 0.8);
			border: 1px solid darken($helper-info-primary-color, 20%);
			color: $helper-info-secondary-color;
			font-size: 18px;
			font-family: 'Courier New', monospace;
			font-weight: bold;
			line-height: 14px;
			cursor: pointer;

			&::before {
				font-size: 1em;
				text-transform: uppercase;
				content: var(--rr-current-breakpoint) '-' var(--rr-current-columns) ' ' attr(data-rr-window-width);
			}

			input[type=checkbox] {
				margin: 0 !important;
				margin-left: 8px !important;
				height: 15px !important;
				width: 15px  !important;
				background-color: $helper-info-secondary-color !important;
				border: 1px solid darken($helper-info-primary-color, 20%);
				appearance: none !important;
				outline: none !important;
				box-shadow: none !important;
				cursor: pointer !important;

				&:hover {
					background-color: lighten($helper-info-primary-color, 20%) !important;
				}

				&:checked {
					background-color: darken($helper-info-primary-color, 20%) !important;
				}
			}
		}

		.#{$helper-class} {
			display: none;
			position: fixed;
			z-index: $helper-z-index;
			top: 0;
			bottom: 0;
			width: 100%;
			overflow: hidden;
			pointer-events: none;

			.#{$row-class} {
				height: 100%;
				background-color: $helper-gutter-background-color;
			}

			.#{$column-class} {
				height: 100%;

				&::before {
					content: '';
					display: block;
					height: 100%;
					background-color: $helper-column-background-color;
					border-left: 1px solid $helper-column-border-color;
					border-right: 1px solid $helper-column-border-color;
				}
			}
		}

		.#{$helper-shower-class} {
			display: block;
		}
	}
}

// Get entry mixin output
@mixin entry-output($entry, $property-function, $breakpoint-name: '', $args...) {
	@if utils.is-not-null($entry) {
		@include core.generate-properties(
			meta.call($property-function, $entry, $breakpoint-name, $args...)
		);

		// Breakpoint overwrites if no breakpoint is defined
		@if $breakpoint-name == '' {
			@each $breakpoint-name-sub, $breakpoint-entry in $breakpoints {
				@if core.entry-has-breakpoint-overwrite($entry, $breakpoint-name-sub) {
					@include mq($breakpoint-name-sub) {
						@include core.generate-properties(
							meta.call($property-function, $entry, $breakpoint-name-sub, $args...)
						);
					}
				}
			}
		}
	}
}

/////////////////////////
// APPEND GLOBAL SETTINGS
/////////////////////////

@if $generate-settings() {
	$breakpoint-settings: ();
	@each $breakpoint-name, $breakpoint-entry in $breakpoints {
		$breakpoint-settings: map-merge($breakpoint-settings, (
			$breakpoint-name: (
				'columns': breakpoint-property($breakpoint-name, 'columns'),
				'gutter': breakpoint-property($breakpoint-name, 'gutter'),
				'min-width': utils.strip-unit(breakpoint-property($breakpoint-name, 'min-width')),
				'max-width': utils.strip-unit(calculate-max-width($breakpoint-name))
			)
		));
	}

	$settings: (
		'breakpoints': $breakpoint-settings,
		'classes': (
			'container': $container-class,
			'row': $row-class,
			'column': $column-class,
			'delimiter': $column-prefix-delimiter
		),
		'helper': (
			'enabled': $helper-enabled,
			'infoClass': $helper-info-class,
			'gridClass': $helper-class,
			'gridShowerClass': $helper-shower-class,
		)
	);
}
