/******************************/
/* OUTPUT: SETTINGS VARIABLES */
/******************************/

// Add core settings
$rr-global-settings: map-merge(
	$rr-global-settings,
	(
		'core': (
			'canHoverClass': $rr-global-can-hover-class,
			'canTouchClass': $rr-global-can-touch-class
		)
	)
);

// Output default features and settings
@if $rr-generate-features or $rr-generate-settings {
	:root {
		@if $rr-generate-features {
			--rr-can-hover: false;
			--rr-can-touch: false;
		}

		@if $rr-generate-settings and is-not-empty($rr-generate-settings) {
			--rr-settings: '#{inspect(json-encode($rr-global-settings))}';
		}
	}
}

// Output breakpoint settings
@if $rr-generate-settings {
	@each $breakpoint-name, $breakpoint-entry in $rr-grid-breakpoints {
		@include mq($breakpoint-name) {
			:root {
				--rr-current-breakpoint: "#{inspect($breakpoint-name)}";
				--rr-current-columns: "#{inspect(grid-breakpoint-property($breakpoint-name, 'columns'))}";
			}
		}
	}
}

// Output features
@if $rr-generate-features {
	@include mq-hover() {
		:root {
			--rr-can-hover: true;
		}
	}

	@include mq-touch() {
		:root {
			--rr-can-touch: true;
		}
	}
}

/*******************/
/* OUTPUT: CLASSES */
/*******************/

// Normalize
@include generate-normalize-core-output();

// Breakpoint classes
@each $breakpoint-name, $breakpoint in $rr-grid-breakpoints {
	@include mq($breakpoint-name) {
		// Get breakpoint prefix
		$breakpoint-prefix: grid-breakpoint-prefix($breakpoint-name);
		$breakpoint-prefix-full: grid-breakpoint-prefix($breakpoint-name, false);

		// Grid
		@include generate-grid-core-output($breakpoint-prefix-full, $breakpoint-prefix, $breakpoint-name);

		// Helpers
		@include generate-background-helpers-output($breakpoint-prefix, $breakpoint-name);
		@include generate-display-helpers-output($breakpoint-prefix, $breakpoint-name);
		@include generate-flex-helpers-output($breakpoint-prefix, $breakpoint-name);
		@include generate-misc-helpers-output($breakpoint-prefix, $breakpoint-name);
		@include generate-overflow-helpers-output($breakpoint-prefix, $breakpoint-name);
		@include generate-position-helpers-output($breakpoint-prefix, $breakpoint-name);
		@include generate-typo-helpers-output($breakpoint-prefix, $breakpoint-name);
		@include generate-visibility-helpers-output($breakpoint-prefix, $breakpoint-name);

		// Modules
		@include generate-aspect-ratio-module-output($breakpoint-prefix, $breakpoint-name);
		@include generate-custom-module-output($breakpoint-prefix, $breakpoint-name);
		@include generate-color-module-output($breakpoint-prefix, $breakpoint-name);
		@include generate-font-family-module-output($breakpoint-prefix, $breakpoint-name);
		@include generate-font-size-module-output($breakpoint-prefix, $breakpoint-name);
		@include generate-spacing-module-output($breakpoint-prefix, $breakpoint-name);
		@include generate-transition-module-output($breakpoint-prefix, $breakpoint-name);

		// Components
		@include generate-table-component-output($breakpoint-prefix, $breakpoint-name);
	}
}

// Grid helper
@include generate-grid-helper-core-output();
