///////////////////
// DEFAULT SETTINGS
///////////////////

@use '../core';

// Classes
$table-class: 'table' !default;

// Output handling
$generate-tables: core.$generate-classes !default;

/////////
// MIXINS
/////////

// Output table
@mixin table() {
	display: block;
	width: 100%;
	overflow-x: auto;
}

/////////
// OUTPUT
/////////

@mixin generate-table-component-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $generate-tables and core.is-default($breakpoint-prefix) {
		.#{$table-class} {
			@include table();
		}
	}
}
