///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-table-class: 'table' !default;

// Output handling
$rr-generate-tables: $rr-generate-classes !default;

/////////
// MIXINS
/////////

// Output table
@mixin table() {
	display: block;
	width: 100%;
	overflow-x: auto;
}

/////////
// OUTPUT
/////////

@mixin generate-table-component-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $rr-generate-tables and grid-is-default($breakpoint-prefix) {
		.#{$rr-table-class} {
			@include table();
		}
	}
}
