///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-alignment-horizontal-class-prefix: 'h-' !default;
$rr-alignment-vertical-class-prefix: 'v-' !default;

// Default text-align properties
$rr-alignment-horizontal-properties: (
	left,
	right,
	center,
	justify,
	justify-all
) !default;

// Default vertical-align properties
$rr-alignment-vertical-properties: (
	baseline,
	top,
	middle,
	bottom,
	sub
) !default;

// Output handling
$rr-generate-alignment: $rr-generate-classes !default;
$rr-generate-alignment-horizontal: $rr-generate-alignment !default;
$rr-generate-alignment-vertical: $rr-generate-alignment !default;

/////////
// OUTPUT
/////////

@mixin generate-alignment-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	// Alignment horizontal
	@if $rr-generate-alignment-horizontal {
		@include generate-output-by-property(
			$property: 'text-align',
			$values: $rr-alignment-horizontal-properties,
			$prefix: $rr-alignment-horizontal-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Alignment vertical
	@if $rr-generate-alignment-vertical {
		@include generate-output-by-property(
			$property: 'vertical-align',
			$values: $rr-alignment-vertical-properties,
			$prefix: $rr-alignment-vertical-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}
