///////////////////
// DEFAULT SETTINGS
///////////////////

// Horizontal alignments
$rr-alignment-h-class-prefix: 'h-' !default;

$rr-alignment-h-properties: (
	left,
	right,
	center,
	justify,
	//'justify-all'
) !default;

// Vertical alignments
$rr-alignment-v-class-prefix: 'v-' !default;

$rr-alignment-v-properties: (
	baseline,
	top,
	middle,
	bottom,
	sub,
	//'text-top',
	//'text-bottom'
) !default;

// Print output for this module
$rr-generate-alignment: $rr-generate-classes !default;
$rr-generate-alignment-horizontal: $rr-generate-alignment !default;
$rr-generate-alignment-vertical: $rr-generate-alignment !default;

/////////
// OUTPUT
/////////

@mixin generate-alignment-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	// Alignment horizontal
	@if $rr-generate-alignment-horizontal {
		@include generate-output-by-property(
			$property: 'text-align',
			$values: $rr-alignment-h-properties,
			$prefix: $rr-alignment-h-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Alignment vertical
	@if $rr-generate-alignment-vertical {
		@include generate-output-by-property(
			$property: 'vertical-align',
			$values: $rr-alignment-v-properties,
			$prefix: $rr-alignment-v-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}
