///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-background-size-class-prefix: 'bg-' !default;
$rr-background-clip-class-prefix: 'bg-clip-' !default;
$rr-background-position-class-prefix: 'bg-position-' !default;

// Default background-size properties
$rr-background-size-properties: (
	cover,
	contain,
	auto
) !default;

// Default background-size properties
$rr-background-clip-properties: (
	('border', border-box),
	('padding', padding-box),
	('content', content-box)
) !default;

// Default background-positions properties
$rr-background-position-properties: (
	('t', top),
	('r', right),
	('b', bottom),
	('l', left),
	('c', center),
	('lt', (left top)),
	('rt', (right top)),
	('lb', (left bottom)),
	('rb', (right bottom))
) !default;

// Output handling
$rr-generate-background: $rr-generate-classes !default;
$rr-generate-background-sizes: $rr-generate-background !default;
$rr-generate-background-clips: $rr-generate-background !default;
$rr-generate-background-positions: $rr-generate-background !default;

/////////
// OUTPUT
/////////

@mixin generate-background-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	// Background size
	@if $rr-generate-background-sizes {
		@include generate-output-by-property(
			$property: 'background-size',
			$values: $rr-background-size-properties,
			$prefix: $rr-background-size-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Background clip
	@if $rr-generate-background-clips {
		@include generate-output-by-property(
			$property: 'background-clip',
			$values: $rr-background-clip-properties,
			$prefix: $rr-background-clip-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Background position
	@if $rr-generate-background-positions {
		@include generate-output-by-property(
			$property: 'background-position',
			$values: $rr-background-position-properties,
			$prefix: $rr-background-position-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}

