///////////////////
// DEFAULT SETTINGS
///////////////////

// Background size
$rr-background-size-class-prefix: 'bg-' !default;

$rr-background-size-properties: (
	cover,
	contain,
	auto
) !default;

// Background position
$rr-background-position-class-prefix: 'bg-position-' !default;

$rr-background-position-properties: (
	('t' top),
	('r' right),
	('b' bottom),
	('l' left),
	('c' center),
	('lt' (left top)),
	('rt' (right top)),
	('lb' (left bottom)),
	('rb' (right bottom))
) !default;

// Print output for this module
$rr-generate-background: $rr-generate-classes !default;
$rr-generate-background-sizes: $rr-generate-background !default;
$rr-generate-background-positions: $rr-generate-background !default;

/////////
// OUTPUT
/////////

@mixin generate-background-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	// Background size
	@if $rr-generate-background-sizes {
		@include generate-output-by-property(
			$property: 'background-size',
			$values: $rr-background-size-properties,
			$prefix: $rr-background-size-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Background position
	@if $rr-generate-background-positions {
		@include generate-output-by-property(
			$property: 'background-position',
			$values: $rr-background-position-properties,
			$prefix: $rr-background-position-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}

