///////////////////
// DEFAULT SETTINGS
///////////////////

@use '../core';

// Classes
$size-class-prefix: 'bg-' !default;
$clip-class-prefix: 'bg-clip-' !default;
$position-class-prefix: 'bg-position-' !default;

// Default background-size properties
$size-properties: (
	cover,
	contain,
	auto
) !default;

// Default background-size properties
$clip-properties: (
	('border', border-box),
	('padding', padding-box),
	('content', content-box)
) !default;

// Default background-positions properties
$position-properties: (
	('t', top),
	('r', right),
	('b', bottom),
	('l', left),
	('c', center),
	('lt', (left top)),
	('rt', (right top)),
	('lb', (left bottom)),
	('rb', (right bottom))
) !default;

// Output handling
$generate: core.$generate-classes !default;
$generate-sizes: $generate !default;
$generate-clips: $generate !default;
$generate-positions: $generate !default;

/////////
// OUTPUT
/////////

@mixin generate-output($breakpoint-prefix: '', $breakpoint-name: '') {
	// Background size
	@if $generate-sizes {
		@include core.generate-output-by-property(
			$property: 'background-size',
			$values: $size-properties,
			$prefix: $size-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Background clip
	@if $generate-clips {
		@include core.generate-output-by-property(
			$property: 'background-clip',
			$values: $clip-properties,
			$prefix: $clip-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Background position
	@if $generate-positions {
		@include core.generate-output-by-property(
			$property: 'background-position',
			$values: $position-properties,
			$prefix: $position-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}

