///////////////////
// DEFAULT SETTINGS
///////////////////

@use '../core';

// Classes
$class-prefix: 'd-' !default;

// Default display properties
$properties: (
	none,
	inline,
	inline-block,
	block,
	table,
	table-row,
	table-cell,
	flex,
	inline-flex,
	list-item,
	contents
) !default;

// Output handling
$generate-display: core.$generate-classes !default;

/////////
// OUTPUT
/////////

@mixin generate-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $generate-display {
		@include core.generate-output-by-property(
			$property: 'display',
			$values: $properties,
			$prefix: $class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}
