///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-display-class-prefix: 'd-' !default;

// Default display properties
$rr-display-properties: (
	none,
	inline,
	inline-block,
	block,
	table,
	table-row,
	table-cell,
	flex,
	inline-flex,
	list-item,
	contents
) !default;

// Output handling
$rr-generate-display: $rr-generate-classes !default;

/////////
// OUTPUT
/////////

@mixin generate-display-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $rr-generate-display {
		@include generate-output-by-property(
			$property: 'display',
			$values: $rr-display-properties,
			$prefix: $rr-display-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}
