///////////////////
// DEFAULT SETTINGS
///////////////////

$rr-display-class-prefix: 'd-' !default;

$rr-display-properties: (
	none,
	inline,
	inline-block,
	block,
	table,
	table-row,
	table-cell,
	flex,
	inline-flex,
	//grid,
	//inline-grid,
	//list-item,
	contents,
	($rr-global-unset-class unset)
) !default;

// Print output for this module
$rr-generate-display: $rr-generate-classes !default;

/////////
// OUTPUT
/////////

@if $rr-generate-display {
	@include add-breakpoint-classes-simple(
		$property-name: 'display',
		$class-prefix: $rr-display-class-prefix,
		$values: $rr-display-properties
	);
}
