///////////////////
// DEFAULT SETTINGS
///////////////////

// Flex direction
$rr-flex-direction-class-prefix: 'flex-' !default;

$rr-flex-direction-properties: (
	row,
	row-reverse,
	column,
	column-reverse,
	($rr-global-unset-class unset)
) !default;

// Flex wrap
$rr-flex-wrap-class-prefix: 'flex-' !default;

$rr-flex-wrap-properties: (
	nowrap,
	wrap,
	wrap-reverse,
	($rr-global-unset-class unset)
) !default;

// Flex justify
$rr-flex-justify-class-prefix: 'justify-' !default;

$rr-flex-justify-properties: (
	('start' flex-start),
	('end' flex-end),
	center,
	space-between,
	space-around,
	($rr-global-unset-class unset)
) !default;

// Flex align
$rr-flex-align-class-prefix: 'align-' !default;

$rr-flex-align-properties: (
	('start' flex-start),
	('end' flex-end),
	center,
	baseline,
	stretch,
	($rr-global-unset-class unset)
) !default;

// Flex align content
$rr-flex-align-content-class-prefix: 'align-content-' !default;

$rr-flex-align-content-properties: (
	('start' flex-start),
	('end' flex-end),
	center,
	space-between,
	space-around,
	stretch,
	($rr-global-unset-class unset)
) !default;

// Flex align self
$rr-flex-align-self-class-prefix: 'align-self-' !default;

$rr-flex-align-self-properties: (
	auto,
	normal,
	('start' flex-start),
	('end' flex-end),
	center,
	baseline,
	stretch,
	($rr-global-unset-class unset)
) !default;

// Flex justify self
$rr-flex-justify-self-class-prefix: 'justify-self-' !default;

$rr-flex-justify-self-properties: (
	auto,
	normal,
	start,
	end,
	center,
	baseline,
	stretch,
	($rr-global-unset-class unset)
) !default;

// Flex grow
$rr-flex-grow-class-prefix: 'grow-' !default;

$rr-flex-grow-properties: (
	0,
	1
) !default;

// Flex shrink
$rr-flex-shrink-class-prefix: 'shrink-' !default;

$rr-flex-shrink-properties: (
	0,
	1
) !default;

// Flex order
$rr-flex-order-class-prefix: 'order-' !default;

$rr-flex-order-max: 12 !default;

$rr-flex-order-properties: (
	('first' -1),
	('last' $rr-flex-order-max + 1),
	($rr-global-unset-class unset)
) !default;

// Print output for this module
$rr-generate-flex: $rr-generate-classes !default;

/////////
// OUTPUT
/////////

@if $rr-generate-flex {
	@include add-breakpoint-classes-simple(
		$property-name: 'flex-direction',
		$class-prefix: $rr-flex-direction-class-prefix,
		$values: $rr-flex-direction-properties
	);

	@include add-breakpoint-classes-simple(
		$property-name: 'flex-wrap',
		$class-prefix: $rr-flex-wrap-class-prefix,
		$values: $rr-flex-wrap-properties
	);

	@include add-breakpoint-classes-simple(
		$property-name: 'justify-content',
		$class-prefix: $rr-flex-justify-class-prefix,
		$values: $rr-flex-justify-properties
	);

	@include add-breakpoint-classes-simple(
		$property-name: 'align-items',
		$class-prefix: $rr-flex-align-class-prefix,
		$values: $rr-flex-align-properties
	);

	@include add-breakpoint-classes-simple(
		$property-name: 'align-content',
		$class-prefix: $rr-flex-align-content-class-prefix,
		$values: $rr-flex-align-content-properties
	);

	@include add-breakpoint-classes-simple(
		$property-name: 'align-self',
		$class-prefix: $rr-flex-align-self-class-prefix,
		$values: $rr-flex-align-self-properties
	);

	@include add-breakpoint-classes-simple(
		$property-name: 'justify-self',
		$class-prefix: $rr-flex-justify-self-class-prefix,
		$values: $rr-flex-justify-self-properties
	);

	@include add-breakpoint-classes-simple(
		$property-name: 'flex-grow',
		$class-prefix: $rr-flex-grow-class-prefix,
		$values: $rr-flex-grow-properties
	);

	@include add-breakpoint-classes-simple(
		$property-name: 'flex-shrink',
		$class-prefix: $rr-flex-shrink-class-prefix,
		$values: $rr-flex-shrink-properties
	);

	@for $order from 0 to $rr-flex-order-max + 1 {
		$rr-flex-order-properties: append($rr-flex-order-properties, $order);
	}

	@include add-breakpoint-classes-simple(
		$property-name: 'order',
		$class-prefix: $rr-flex-order-class-prefix,
		$values: $rr-flex-order-properties
	);
}
