///////////////////
// DEFAULT SETTINGS
///////////////////

// Flex direction
$rr-flex-direction-class-prefix: 'flex-' !default;

$rr-flex-direction-properties: (
	row,
	row-reverse,
	column,
	column-reverse
) !default;

// Flex wrap
$rr-flex-wrap-class-prefix: 'flex-' !default;

$rr-flex-wrap-properties: (
	nowrap,
	wrap,
	wrap-reverse
) !default;

// Flex justify content
$rr-flex-justify-content-class-prefix: 'justify-' !default;

$rr-flex-justify-content-properties: (
	('start' flex-start),
	('end' flex-end),
	center,
	space-between,
	space-around
) !default;

// Flex align
$rr-flex-align-items-class-prefix: 'align-' !default;

$rr-flex-align-items-properties: (
	('start' flex-start),
	('end' flex-end),
	center,
	baseline,
	stretch
) !default;

// Flex align content
$rr-flex-align-content-class-prefix: 'align-content-' !default;

$rr-flex-align-content-properties: (
	('start' flex-start),
	('end' flex-end),
	center,
	space-between,
	space-around,
	stretch
) !default;

// Flex align self
$rr-flex-align-self-class-prefix: 'align-self-' !default;

$rr-flex-align-self-properties: (
	auto,
	normal,
	('start' flex-start),
	('end' flex-end),
	center,
	baseline,
	stretch
) !default;

// Flex justify self
$rr-flex-justify-self-class-prefix: 'justify-self-' !default;

$rr-flex-justify-self-properties: (
	auto,
	normal,
	start,
	end,
	center,
	baseline,
	stretch
) !default;

// Flex grow
$rr-flex-grow-class-prefix: 'grow-' !default;

$rr-flex-grow-properties: (
	0,
	1
) !default;

// Flex shrink
$rr-flex-shrink-class-prefix: 'shrink-' !default;

$rr-flex-shrink-properties: (
	0,
	1
) !default;

// Flex order
$rr-flex-order-class-prefix: 'order-' !default;

$rr-flex-order-max: 12 !default;

$rr-flex-order-properties: (
	('first' -1),
	('last' $rr-flex-order-max + 1)
) !default;

// Print output for this module
$rr-generate-flex: $rr-generate-classes !default;

/////////
// OUTPUT
/////////

@mixin generate-flex-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $rr-generate-flex {
		// Flex direction
		@include generate-output-by-property(
			$property: 'flex-direction',
			$values: $rr-flex-direction-properties,
			$prefix: $rr-flex-direction-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Flex wrap
		@include generate-output-by-property(
			$property: 'flex-wrap',
			$values: $rr-flex-wrap-properties,
			$prefix: $rr-flex-wrap-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true,
			$additional-unset-prefix: 'wrap-'
		);

		// Justify content
		@include generate-output-by-property(
			$property: 'justify-content',
			$values: $rr-flex-justify-content-properties,
			$prefix: $rr-flex-justify-content-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Align items
		@include generate-output-by-property(
			$property: 'align-items',
			$values: $rr-flex-align-items-properties,
			$prefix: $rr-flex-align-items-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Align content
		@include generate-output-by-property(
			$property: 'align-content',
			$values: $rr-flex-align-content-properties,
			$prefix: $rr-flex-align-content-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Align self
		@include generate-output-by-property(
			$property: 'align-self',
			$values: $rr-flex-align-self-properties,
			$prefix: $rr-flex-align-self-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Justify self
		@include generate-output-by-property(
			$property: 'justify-self',
			$values: $rr-flex-justify-self-properties,
			$prefix: $rr-flex-justify-self-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Flex grow
		@include generate-output-by-property(
			$property: 'flex-grow',
			$values: $rr-flex-grow-properties,
			$prefix: $rr-flex-grow-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: false
		);

		// Flex shrink
		@include generate-output-by-property(
			$property: 'flex-shrink',
			$values: $rr-flex-shrink-properties,
			$prefix: $rr-flex-shrink-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: false
		);

		// Order
		$rr-flex-order-properties-new: $rr-flex-order-properties;

		@for $order from 0 to $rr-flex-order-max + 1 {
			$rr-flex-order-properties-new: append($rr-flex-order-properties-new, $order);
		}

		@include generate-output-by-property(
			$property: 'order',
			$values: $rr-flex-order-properties-new,
			$prefix: $rr-flex-order-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}
