///////////////////
// DEFAULT SETTINGS
///////////////////

@use 'sass:list';
@use '../core';

// Classes
$direction-class-prefix: 'flex-' !default;
$wrap-class-prefix: 'flex-' !default;
$justify-content-class-prefix: 'justify-' !default;
$align-items-class-prefix: 'align-' !default;
$align-content-class-prefix: 'align-content-' !default;
$align-self-class-prefix: 'align-self-' !default;
$justify-self-class-prefix: 'justify-self-' !default;
$grow-class-prefix: 'grow-' !default;
$shrink-class-prefix: 'shrink-' !default;
$order-class-prefix: 'order-' !default;

// Default flex-direction properties
$direction-properties: (
	row,
	row-reverse,
	column,
	column-reverse
) !default;

// Default flex-wrap properties
$wrap-properties: (
	nowrap,
	wrap,
	wrap-reverse
) !default;

// Default justify-content properties
$justify-content-properties: (
	('start', flex-start),
	('end', flex-end),
	center,
	space-between,
	space-around
) !default;

// Default align items properties
$align-items-properties: (
	('start', flex-start),
	('end', flex-end),
	center,
	baseline,
	stretch
) !default;

// Default aligh-content properties
$align-content-properties: (
	('start', flex-start),
	('end', flex-end),
	center,
	space-between,
	space-around,
	stretch
) !default;

// Default align-self properties
$align-self-properties: (
	auto,
	normal,
	('start', flex-start),
	('end', flex-end),
	center,
	baseline,
	stretch
) !default;

// Default justify-self properties
$justify-self-properties: (
	auto,
	normal,
	start,
	end,
	center,
	baseline,
	stretch
) !default;

// Default flex-grow properties
$grow-properties: (
	0,
	1
) !default;

// Default flex-shrink properties
$shrink-properties: (
	0,
	1
) !default;

// Default max order to generate
$order-max: 12 !default;

// Default order properties
$order-properties: (
	('first', -1),
	('last', $order-max + 1)
) !default;

// Output handling
$generate: core.$generate-classes !default;

/////////
// OUTPUT
/////////

@mixin generate-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $generate {
		// Flex direction
		@include core.generate-output-by-property(
			$property: 'flex-direction',
			$values: $direction-properties,
			$prefix: $direction-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Flex wrap
		@include core.generate-output-by-property(
			$property: 'flex-wrap',
			$values: $wrap-properties,
			$prefix: $wrap-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true,
			$additional-unset-prefix: 'wrap-'
		);

		// Justify content
		@include core.generate-output-by-property(
			$property: 'justify-content',
			$values: $justify-content-properties,
			$prefix: $justify-content-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Align items
		@include core.generate-output-by-property(
			$property: 'align-items',
			$values: $align-items-properties,
			$prefix: $align-items-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Align content
		@include core.generate-output-by-property(
			$property: 'align-content',
			$values: $align-content-properties,
			$prefix: $align-content-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Align self
		@include core.generate-output-by-property(
			$property: 'align-self',
			$values: $align-self-properties,
			$prefix: $align-self-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Justify self
		@include core.generate-output-by-property(
			$property: 'justify-self',
			$values: $justify-self-properties,
			$prefix: $justify-self-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Flex grow
		@include core.generate-output-by-property(
			$property: 'flex-grow',
			$values: $grow-properties,
			$prefix: $grow-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: false
		);

		// Flex shrink
		@include core.generate-output-by-property(
			$property: 'flex-shrink',
			$values: $shrink-properties,
			$prefix: $shrink-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: false
		);

		// Order
		$order-properties-new: $order-properties;

		@for $order from 0 to $order-max + 1 {
			$order-properties-new: list.append($order-properties-new, $order);
		}

		@include core.generate-output-by-property(
			$property: 'order',
			$values: $order-properties-new,
			$prefix: $order-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}
