///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-misc-user-select-disable-class: 'no-user-select' !default;
$rr-misc-box-filler-class-prefix: 'full-' !default;

// Default box filler classes
$rr-misc-box-filler-properties: (
	'parent': (
		width: 100%,
		height: 100%
	),
	'width': (
		width: 100%,
		height: unset
	),
	'height': (
		width: unset,
		height: 100%
	)
) !default;

// Output handling
$rr-generate-misc-helpers: $rr-generate-classes !default;
$rr-generate-misc-user-selection-helpers: $rr-generate-misc-helpers !default;
$rr-generate-misc-box-fillers-helpers: $rr-generate-misc-helpers !default;

/////////
// OUTPUT
/////////

@mixin generate-misc-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $rr-generate-misc-helpers {
		// Disable user selection
		@if $rr-generate-misc-user-selection-helpers and $breakpoint-prefix == '' {
			.#{$rr-misc-user-select-disable-class} {
				user-select: none;
			}
		}

		// Box fillers
		@if $rr-generate-misc-box-fillers-helpers {
			@include generate-output-by-classes(
				$classes: $rr-misc-box-filler-properties,
				$prefix: $rr-misc-box-filler-class-prefix,
				$breakpoint-prefix: $breakpoint-prefix,
				$generate-unset: (
					width: unset,
					height: unset
				)
			);
		}
	}
}
