///////////////////
// DEFAULT SETTINGS
///////////////////

$rr-overflow-class-prefix: 'overflow-' !default;
$rr-overflow-x-class-prefix: 'overflow-x-' !default;
$rr-overflow-y-class-prefix: 'overflow-y-' !default;

$rr-overflow-properties: (
	visible,
	hidden,
	scroll,
	auto,
	($rr-global-unset-class unset)
) !default;

// Print output for this module
$rr-generate-overflow: $rr-generate-classes !default;

/////////
// OUTPUT
/////////

@if $rr-generate-overflow {
	@if map-not-empty($rr-overflow-properties) {
		@include add-breakpoint-classes-simple(
			$property-name: 'overflow',
			$class-prefix: $rr-overflow-class-prefix,
			$values: $rr-overflow-properties
		);
	}

	@if map-not-empty($rr-overflow-properties) {
		@include add-breakpoint-classes-simple(
			$property-name: 'overflow-x',
			$class-prefix: $rr-overflow-x-class-prefix,
			$values: $rr-overflow-properties
		);
	}

	@if map-not-empty($rr-overflow-properties) {
		@include add-breakpoint-classes-simple(
			$property-name: 'overflow-y',
			$class-prefix: $rr-overflow-y-class-prefix,
			$values: $rr-overflow-properties
		);
	}
}
