///////////////////
// DEFAULT SETTINGS
///////////////////

$rr-overflow-class-prefix: 'overflow-' !default;
$rr-overflow-x-class-prefix: 'overflow-x-' !default;
$rr-overflow-y-class-prefix: 'overflow-y-' !default;

$rr-overflow-properties: (
	visible,
	hidden,
	scroll,
	auto
) !default;

// Print output for this module
$rr-generate-overflow: $rr-generate-classes !default;

/////////
// OUTPUT
/////////

@mixin generate-overflow-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $rr-generate-overflow {
		// Overflow
		@include generate-output-by-property(
			$property: 'overflow',
			$values: $rr-overflow-properties,
			$prefix: $rr-overflow-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Overflow x
		@include generate-output-by-property(
			$property: 'overflow-x',
			$values: $rr-overflow-properties,
			$prefix: $rr-overflow-x-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);

		// Overflow y
		@include generate-output-by-property(
			$property: 'overflow-y',
			$values: $rr-overflow-properties,
			$prefix: $rr-overflow-y-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}
