///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-overflow-class-prefix: 'overflow-' !default;
$rr-overflow-x-class-prefix: 'overflow-x-' !default;
$rr-overflow-y-class-prefix: 'overflow-y-' !default;

// Default overflow properties
$rr-overflow-properties: (
	visible,
	hidden,
	scroll,
	auto
) !default;

// Output handling
$rr-generate-overflow: $rr-generate-classes !default;
$rr-generate-overflow-x: $rr-generate-overflow !default;
$rr-generate-overflow-y: $rr-generate-overflow !default;

/////////
// OUTPUT
/////////

@mixin generate-overflow-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	// Overflow
	@if $rr-generate-overflow {
		@include generate-output-by-property(
			$property: 'overflow',
			$values: $rr-overflow-properties,
			$prefix: $rr-overflow-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Overflow x
	@if $rr-generate-overflow-x {
		@include generate-output-by-property(
			$property: 'overflow-x',
			$values: $rr-overflow-properties,
			$prefix: $rr-overflow-x-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Overflow y
	@if $rr-generate-overflow-y {
		@include generate-output-by-property(
			$property: 'overflow-y',
			$values: $rr-overflow-properties,
			$prefix: $rr-overflow-y-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}
}
