///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-position-class-prefix: '' !default;
$rr-position-filler-class-prefix: 'fill-' !default;
$rr-position-position-class-prefix: 'position-' !default;

// Default position properties
$rr-position-properties: (
	static,
	relative,
	absolute,
	fixed,
	sticky
) !default;

// Default position fill classes
$rr-position-filler-properties: (
	'parent': (
		top: 0,
		right: 0,
		bottom: 0,
		left: 0
	),
	'height': (
		top: 0,
		right: unset,
		bottom: 0,
		left: unset
	),
	'width': (
		top: unset,
		right: 0,
		bottom: unset,
		left: 0
	),
	'top': (
		top: 0,
		right: 0,
		bottom: unset,
		left: 0
	),
	'right': (
		top: 0,
		right: 0,
		bottom: 0,
		left: unset
	),
	'bottom': (
		top: unset,
		right: 0,
		bottom: 0,
		left: 0
	),
	'left': (
		top: 0,
		right: unset,
		bottom: 0,
		left: 0
	)
) !default;

// Default positions classes
$rr-position-positions-properties: (
	't': (
		top: 0,
		right: unset,
		bottom: unset,
		left: unset
	),
	'r': (
		top: unset,
		right: 0,
		bottom: unset,
		left: unset
	),
	'b': (
		top: unset,
		right: unset,
		bottom: 0,
		left: unset
	),
	'l': (
		top: unset,
		right: unset,
		bottom: unset,
		left: 0
	),
	'c': (
		top: 50%,
		right: unset,
		bottom: unset,
		left: 50%,
		transform: translate(-50%, -50%)
	),
	'lt': (
		top: 0,
		right: unset,
		bottom: unset,
		left: 0
	),
	'ct': (
		top: 0,
		right: unset,
		bottom: unset,
		left: 50%,
		transform: translateX(-50%)
	),
	'rt': (
		top: 0,
		right: 0,
		bottom: unset,
		left: unset
	),
	'lb': (
		top: unset,
		right: unset,
		bottom: 0,
		left: 0
	),
	'cb': (
		top: unset,
		right: unset,
		bottom: 0,
		left: 50%,
		transform: translateX(-50%)
	),
	'rb': (
		top: unset,
		right: 0,
		bottom: 0,
		left: unset
	),
	'lc': (
		top: 50%,
		right: unset,
		bottom: unset,
		left: 0,
		transform: translateY(-50%)
	),
	'rc': (
		top: 50%,
		right: 0,
		bottom: unset,
		left: unset,
		transform: translateY(-50%)
	),
) !default;

// Output handling
$rr-generate-position: $rr-generate-classes !default;
$rr-generate-position-fillers: $rr-generate-position !default;
$rr-generate-position-positions: $rr-generate-position !default;

/////////
// OUTPUT
/////////

@mixin generate-position-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	// Position
	@if $rr-generate-position {
		@include generate-output-by-property(
			$property: 'position',
			$values: $rr-position-properties,
			$prefix: $rr-position-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Position fillers
	@if $rr-generate-position-fillers {
		@include generate-output-by-classes(
			$classes: $rr-position-filler-properties,
			$prefix: $rr-position-filler-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$append-prefix: true,
			$generate-unset: (
				position: unset,
				top: unset,
				right: unset,
				bottom: unset,
				left: unset
			)
		);
	}

	// Position position
	@if $rr-generate-position-positions {
		@include generate-output-by-classes(
			$classes: $rr-position-positions-properties,
			$prefix: $rr-position-position-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$append-prefix: true,
			$generate-unset: (
				position: unset,
				top: unset,
				right: unset,
				bottom: unset,
				left: unset
			)
		);
	}
}
