///////////////////
// DEFAULT SETTINGS
///////////////////

// Positions
$rr-position-class-prefix: '' !default;

$rr-position-properties: (
	static,
	relative,
	absolute,
	fixed,
	sticky
) !default;

// Fills
$rr-position-fill-class-prefix: 'fill-' !default;

$rr-position-fill-properties: (
	'parent': (
		position: absolute,
		top: 0,
		right: 0,
		bottom: 0,
		left: 0
	),
	'height': (
		position: absolute,
		top: 0,
		right: unset,
		bottom: 0,
		left: unset
	),
	'width': (
		position: absolute,
		top: unset,
		right: 0,
		bottom: unset,
		left: 0
	)
) !default;

// Positions
$rr-position-positions-class-prefix: 'position-' !default;

$rr-position-positions-properties: (
	'top': (
		top: 0,
	),
	'right': (
		right: 0,
	),
	'bottom': (
		bottom: 0,
	),
	'left': (
		left: 0
	),
	'top-' + $rr-global-unset-class: (
		top: unset
	),
	'right-' + $rr-global-unset-class: (
		right: unset
	),
	'bottom-' + $rr-global-unset-class: (
		bottom: unset
	),
	'left-' + $rr-global-unset-class: (
		left: unset
	)
) !default;

// Print output for this module
$rr-generate-position: $rr-generate-classes !default;
$rr-generate-position-fillers: $rr-generate-position !default;
$rr-generate-position-positions: $rr-generate-position !default;

/////////
// OUTPUT
/////////

@mixin generate-position-helpers-output($breakpoint-prefix: '', $breakpoint-name: '') {
	// Position
	@if $rr-generate-position {
		@include generate-output-by-property(
			$property: 'position',
			$values: $rr-position-properties,
			$prefix: $rr-position-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: true
		);
	}

	// Position fillers
	@if $rr-generate-position-fillers {
		@include generate-output-by-classes(
			$classes: $rr-position-fill-properties,
			$prefix: $rr-position-fill-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix,
			$generate-unset: (
				position: unset,
				top: unset,
				right: unset,
				bottom: unset,
				left: unset
			)
		);
	}

	// Position position
	@if $rr-generate-position-positions {
		@include generate-output-by-classes(
			$classes: $rr-position-positions-properties,
			$prefix: $rr-position-positions-class-prefix,
			$breakpoint-prefix: $breakpoint-prefix
		);
	}
}
