///////////////////
// DEFAULT SETTINGS
///////////////////

$rr-position-class-prefix: '' !default;
$rr-position-fill-parent-class: 'fill-parent' !default;
$rr-position-fill-width-class: 'fill-width' !default;
$rr-position-fill-height-class: 'fill-height' !default;

$rr-position-properties: (
	'static',
	'relative',
	'absolute',
	'fixed',
	'sticky',
	($rr-global-reset-class unset)
) !default;

// Print output for this module
$rr-generate-position: $rr-generate-classes !default;

/*********************/
/* OUTPUT: POSITIONS */
/*********************/

@if $rr-generate-position {
	@include mq-generate-property-classes-simple(
		$property: 'position',
		$values: $rr-position-properties,
		$class-prefix: $rr-position-class-prefix
	);

	.#{$rr-position-fill-parent-class} {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.#{$rr-position-fill-width-class} {
		position: absolute;
		right: 0;
		left: 0;
	}

	.#{$rr-position-fill-height-class} {
		position: absolute;
		top: 0;
		bottom: 0;
	}
}

