///////////////////
// DEFAULT SETTINGS
///////////////////

$rr-font-fix-class: 'font-fix' !default;
$rr-font-transform-class-prefix: 'txt-transform-' !default;

$rr-font-transform-properties: (
	none,
	capitalize,
	uppercase,
	lowercase,
	($rr-global-unset-class unset)
) !default;

$rr-generate-font-transform: $rr-generate-classes !default;

///////////////////
// CLASS PROPERTIES
///////////////////

$rr-font-reset-class-properties: (
	font-smooth: always,
	font-smoothing: antialiased,
	-webkit-font-smoothing: antialiased,
	-moz-font-smoothing: antialiased,
	-moz-osx-font-smoothing: grayscale
) !default;

/////////
// MIXINS
/////////

@mixin font-fix() {
	@include generate-properties($rr-font-reset-class-properties);
}

/////////
// OUTPUT
/////////

// Font fix
@include add-breakpoint-classes-custom(
	$classes: (
		$rr-font-fix-class: $rr-font-reset-class-properties
	),
	$ignore-breakpoints: true
);

// Text transform
@if $rr-generate-font-transform {
	@include add-breakpoint-classes-simple(
		$property-name: 'text-transform',
		$class-prefix: $rr-font-transform-class-prefix,
		$values: $rr-font-transform-properties
	);
}


