///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-visibility-class-prefix: '' !default;
$rr-visibility-show-class: $rr-global-show-class !default;
$rr-visibility-hide-class: $rr-global-hide-class !default;

// Print output for this module
$rr-generate-visibility: $rr-generate-classes !default;

/////////
// OUTPUT
/////////

@if $rr-generate-visibility {
	@include add-breakpoint-classes-simple(
		$property-name: 'display',
		$class-prefix: $rr-visibility-class-prefix,
		$values: (
			$rr-visibility-show-class: unset,
			$rr-visibility-show-class + '.' + $rr-grid-row-class: flex,
			$rr-visibility-hide-class: none
		)
	);
}
