////////////
// FUNCTIONS
////////////

@use 'sass:meta';
@use 'sass:math';
@use 'sass:map';
@use 'sass:list';

// Check if empty
@function is-empty($value) {
	@if not $value
		or $value == ''
		or $value == 0
		or $value == ()
		or list.length($value) == 0 {
		@return true;
	}

	@return false;
}

// Check if value is null
@function is-null($value) {
	@return $value == null;
}

// Check if value is not null
@function is-not-null($value) {
	@return $value != null;
}

// Check if value is zero
@function is-zero($value) {
	@if meta.type-of($value) == 'number' and not math.is-unitless($value) {
		@return math.div($value, $value * 0 + 1) == 0;
	}

	@return $value == 0;
}

// Check if value is specific unit
@function is-unit($value, $unit) {
	@return is-number($value) and math.unit($value) == $unit;
}

// Check if value isnumber
@function is-number($value) {
	@return meta.type-of($value) == 'number';
}

// Check if value is time
@function is-time($value) {
	@return is-number($value) and list.index('ms' 's', math.unit($value)) != null;
}

// Check if value is angle
@function is-angle($value) {
	@return is-number($value) and list.index('deg' 'rad' 'grad' 'turn', math.unit($value)) != null;
}

// Check if value is integer
@function is-integer($value) {
	@return is-number($value) and math.round($value) == $value;
}

// Check if value is relative length
@function is-relative-length($value) {
	@return is-number($value) and list.index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', math.unit($value)) != null;
}

// Check if value is absolute length
@function is-absolute-length($value) {
	@return is-number($value) and list.index('cm' 'mm' 'in' 'px' 'pt' 'pc', math.unit($value)) != null;
}

// Check if value is any length
@function is-length($value) {
	@return is-relative-length($value) or is-absolute-length($value);
}

// Check if value is percentage
@function is-percentage($value) {
	@return is-number($value) and is-unit($value, '%');
}

// Check if value is pixel
@function is-pixel($value) {
	@return is-number($value) and is-unit($value, 'px');
}

// Convert a value to rem
@function to-rem($value) {
	$base-breakpoint: map.get(core.$breakpoints, list.nth(core.$breakpoints-names, 1));
	$base-size: map.get($base-breakpoint, base-size);

	@if meta.type-of($base-size) != number {
		$base-size: 16px;
	}

	@return (math.div($value, $base-size) * 1rem);
}

// Strip unit from value
@function strip-unit($number) {
	@if meta.type-of($number) == 'number' and not math.is-unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}

	@return $number;
}

// Convert a value to rem by breakpoint
@function to-rem-breakpoint($value, $breakpoint: '') {
	@if $breakpoint == '' {
		$breakpoint: list.nth(core.$breakpoints-names, list.length(core.$breakpoints-names));
	}

	$smallest-breakpoint: map.get(core.$breakpoints, list.nth(core.$breakpoints-names, 1));
	$smallest-base-size: map.get($smallest-breakpoint, base-size);

	$output-breakpoint: map.get(core.$breakpoints, $breakpoint);
	$output-base-size: map.get($output-breakpoint, base-size);

	$output-base-size-modifier: math.div($smallest-base-size, $output-base-size);

	@return to-rem($value) * $output-base-size-modifier;
}
