///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-color-text-class-prefix: 'color-' !default;
$rr-color-background-class-prefix: 'bg-color-' !default;
$rr-color-border-class-prefix: 'border-color-' !default;

// Default entries
$rr-colors: () !default;

// Default entry
$rr-colors-default: map-default($rr-colors) !default;

// Output handling
$rr-generate-colors: $rr-generate-classes !default;
$rr-generate-colors-text: $rr-generate-colors !default;
$rr-generate-colors-background: $rr-generate-colors !default;
$rr-generate-colors-border: $rr-generate-colors !default;
$rr-generate-colors-unset: $rr-generate-colors !default;
$rr-generate-colors-hover: $rr-generate-classes !default;

////////////
// FUNCTIONS
////////////

// Check if an entry exists
@function color-exists($name) {
	@return entry-exists($rr-colors, $name);
}

// Gets an entry by name
@function color-entry($name: null) {
	@return get-entry-by-name($rr-colors, $name, $rr-colors-default);
}

// Get property name by type
@function color-property-by-type($type) {
	$property-name: color;

	@if $type == 'background' {
		$property-name: background-color;
	} @else if $type == 'border' {
		$property-name: border-color;
	}

	@return $property-name;
}

/////////
// MIXINS
/////////

// Output color by name and type
@mixin color($name: null, $type: 'text') {
	$entry: color-entry($name);

	@if is-not-null($entry) {
		$property: color-property-by-type($type);

		@include generate-properties((
			$property: get-value-by-entry($entry, 'color')
		));
	}
}

/////////
// OUTPUT
/////////

@mixin generate-color-module-output($breakpoint-prefix: '', $breakpoint-name: '') {
	@if $rr-generate-colors {
		$rr-colors-new: $rr-colors;

		// Append unset
		@if $rr-generate-colors-unset {
			$rr-colors-new: map-append(
				$rr-colors-new,
				unset,
				$rr-global-unset-class
			);
		}

		@each $color-name, $color-entry in $rr-colors-new {
			$color-value: get-value-by-entry($color-entry, 'color');
			$generate-text-color: map-maybe-get($color-entry, 'generate-text', $rr-generate-colors-text);
			$generate-background-color: map-maybe-get($color-entry, 'generate-background', $rr-generate-colors-background);
			$generate-border-color: map-maybe-get($color-entry, 'generate-border', $rr-generate-colors-border);

			// Text color
			@if $generate-text-color {
				@include generate-output-by-class(
					$class: $color-name,
					$prefix: $rr-color-text-class-prefix,
					$breakpoint-prefix: $breakpoint-prefix,
					$properties: (color: $color-value)
				);
			}

			// Background color
			@if $generate-background-color {
				@include generate-output-by-class(
					$class: $color-name,
					$prefix: $rr-color-background-class-prefix,
					$breakpoint-prefix: $breakpoint-prefix,
					$properties: (background-color: $color-value)
				);
			}

			// Border color
			@if $generate-border-color {
				@include generate-output-by-class(
					$class: $color-name,
					$prefix: $rr-color-border-class-prefix,
					$breakpoint-prefix: $breakpoint-prefix,
					$properties: (border-color: $color-value)
				);
			}
		}
	}
}
