///////////////////
// DEFAULT SETTINGS
///////////////////

// Classes
$rr-custom-class-prefix: 'custom-' !default;

// Customs
$rr-customs: () !default;

// Defaults
$rr-custom-map-defaults: () !default;

$rr-customs-default: map-default($rr-customs) !default;

// Print output for this module
$rr-generate-customs: $rr-generate-classes !default;

////////////
// FUNCTIONS
////////////

// Check if an entry exists
@function custom-exists($name) {
	@return entry-exists($rr-customs, $name);
}

// Gets an entry by name
@function custom-entry($name: null) {
	@return get-entry-by-name($rr-customs, $name, $rr-customs-default);
}

// Get an entry property value by name
@function custom-property($name, $property) {
	@return get-entry-property(
		$rr-customs,
		$name,
		$property,
		$rr-custom-map-defaults,
		$rr-customs-default
	);
}

/////////
// MIXINS
/////////

// Output custom by name
@mixin custom($name: null) {
	$custom: custom-entry($name);

	@if is-not-null($custom) {
		@include generate-properties($custom);
	}
}

/*******************/
/* OUTPUT: CUSTOMS */
/*******************/

@if $rr-generate-customs and map-not-empty($rr-customs) {
	@include mq-generate-property-classes-custom(
		$classes: $rr-customs,
		$class-prefix: $rr-custom-class-prefix
	);
}
